* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Whole page*/

.wholePage {
	background: linear-gradient(rgba(38, 161, 38, 0.8), lightgreen);
	height: 100vh;
}

/* Playground*/
.playground {
	width: 80%;
	height: 80%;
	background: rgb(158, 92, 92);
	position: absolute;
	top: 10%;
	left: 10%;
}