* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Whole page*/

.wholePage {
	background: linear-gradient(rgba(38, 161, 38, 0.8), lightgreen);
	height: 100vh;
}

/* Playground*/
.playground {
	width: 80%;
	height: 80%;
	background: #057e01af;
	position: absolute;
	top: 10%;
	left: 10%;
}

/* Total score*/
.totalScore {
	position: absolute;
	top: 15%;
	font-size: 25px;
	color: rgb(18, 25, 54);
	font-weight: bold;
}

.totalScore p:nth-child(2) {
	font-size: 30px;
	text-align: center;
}

.totalScore0 {
	left: 10%;
}

.totalScore1 {
	right: 10%
}

/* Current score */

.currentScore {
	position: absolute;
	top: 40%;
	width: 150px;
	height: 150px;
	background: rgba(220, 20, 60, 0.7);
}

.currentScore p {
	font-size: 20px;
	color: whitesmoke;
	text-align: center;
	padding: 15px;
}

.currentScore p:nth-child(2) {
	font-size: 30px;
}
.currentScore0 {
	left: 10%;
}

.currentScore1 {
	right: 10%;
}
 