* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Whole page*/

.wholePage {
	background: linear-gradient(green, lightgreen);
	height: 100vh;
}

/* Playground*/
.playground {
	width: 80%;
	height: 80%;
	background: darkgray;
	position: absolute;
	top: 10%;
	left: 10%;
}